body{font-family: Arial; 
    background-color: #18A383;
     box-sizing: border-box; 
     padding-top: 100px;
}

.navul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f8f9fa;
  }

  .nom{
float: left;
  }

  li{
      float: right;
      border-right:1px solid black;
  }

  li a {
    display: block;
    color:black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #4CAF50;
  }
  
form{
    background-color: white;
    border-radius: 0 0 3px 3px;
    color: #999;
    font-size: 0.8em;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
}


.field{
    border: solid 1px #ccc;
    border-radius: 0 5px 5px 0;
    padding: 7px;
    width: 200px;
}

.field:focus{
    border-color: #18A383;
}
.center-content{
    text-align: center;
}
.field-container div{
  display: inline-block;
  vertical-align: top;
}
.field-container i{
    border: solid 1px #ccc;
    background-color: #ddd;
    border-radius: 5px 0 0 5px;
    color: #888;
    padding: 10px 10px 11px 10px;
    margin-right: -5px;
    vertical-align: top;
}
footer{
    background: #202020;
    color: white;
    height: 110px;
    margin-top: 75px;
}