*{
  padding: 0;
  margin: 0;

}

body{ 
  background-image: url(../Imagenes/fondo.jpg);
  height: 800px;
     
}

.menu-header ul{
  display: flex;
  justify-content: flex-end;
}







form{
    border: 1px solid #eee;
    background-color: #ffffff;
    border-radius: 0 0 3px 3px;
    color: #999;
    font-size: 0.8em;
    padding: 20px;
    margin: 100px;
    width: 300px;
   
    
    
  
}

.formulario{
  display: flex;
  align-content: center;
  
}

.btn{
  margin:  10px;}

.field{
    border: solid 1px #ccc;
    border-radius: 0 5px 5px 0;
    padding: 7px;
    width: 200px;
}

.field:focus{
    border-color: #18A383;
}
.center-content{
    text-align: center;
}
.field-container div{
  display: inline-block;
  vertical-align: top;
}

}
.field-container i{
    border: solid 1px #ccc;
    background-color: #ddd;
    border-radius: 5px 0 0 5px;
    color: #888;
    padding: 10px 10px 11px 10px;
    margin-right: -5px;
    vertical-align: top;
}


footer{
  background: #202020;
  color: white;
  width: 100%;
  
  position: fixed;
  bottom: 0;

}